<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>moodgram 0.3</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="login-box">
  <h2>Instagram Emotions Histogram v0.2</h2>
  <form action="w.php" method="get">
    <br>
    <div class="user-box">
      <input type="text" name="val1" id="val1" required="">
      <label>Username</label>
    </div>
    <div class="user-box">
    </div>
    <a href="w.php">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit 
    </a>
  </form>
</div>
<!-- partial -->
  
</body>
</html>
